html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: #9cdcd5;
    color: #1e5562;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
nav{
    color: #1e5562;
}
body{
    background-color: #1e5562;
    color: #fff;
    margin: 0%;
 
}
h1{
    color: #fbc4e1;
}
.pic{
    border: .5rem #e8b884 solid; 
}
div{ 

}
h2{
    color:#e8b884;
}
h3{
    color: black;
}
footer{
    background-color: #9cdcd5;
}
section{
    background-color: #fbc4e1;
}