html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: #9cdcd5;
    color: #1e5562;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
nav{
    color: #1e5562;
}
body{
    background-color: #1e5562;
    color: #fff;
    margin: 0%;
}
h1{
    color: #fbc4e1;
    margin-left: 1.5rem;
}
h4{
    color:#1e5562;
}
.pic{
    border: .5rem #e8b884 solid; 
}
.pro .pic{
    width: 80%;
}
footer img{
    width: 10rem;
}
.home div{ 
    width: 30%;
display: inline-block;
margin-right: 1.5rem;
margin-left: 1.5rem;
vertical-align: top;}
.pro{
display: grid;
grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
padding: 1rem;
gap: 1rem;
}
.pro div{
    grid-row: 1/3;
    width: unset;
}
h2{
    color:#e8b884;
}
h3{
    color: black;
}
footer{
    background-color: #9cdcd5;
}
section{
    background-color: #fbc4e1;
}
.events{
    width: 20%;
    height: 40rem;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    vertical-align: top;
background-color: #fbc4e1;
padding: .5rem;}
.events img{
    width: 90%
}
.events:nth-child(4),.events:nth-child(6){
    background-color: transparent;
    height: unset;
}
.gal{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: unset;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
margin-bottom: 1rem;}
    .gal img{
        width: 15rem;
    }
    .truck{
        width: 100%;
    }
    .mary{
        width: 30%;
    }
@media (max-width:900px) {
    .pro{
        grid-template-columns: 1fr 1fr;
    }
    .pro div{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .pro img{
        justify-self: center;
    }
    .events{
        flex-wrap: wrap;
    }
    .home div{
        display: block;
        width: unset;
    }
    .events{
        display: block;
        width: unset;
        
    }
}