body{
    background-color: #000000;
    margin: 0%;
    color:#fff;
    font-family:'Times New Roman', Times, serif;
    background-image:url(Images/Screenshot\ 2024-10-15\ 095845.png); background-repeat: no-repeat; background-size:contain ; 
}
header{
    background-color: #764f27;   
    display: flex; 
    flex-direction: column-reverse;
    align-items: center;
}
h1{
    color: #ffffff
}
h2{
    color: #764f27
}
h3{
    color: #000000
}
h4{
    color: #ffffff;
}
footer{
    background-color: #764f27;
    color: #000000
}
section{
    padding: 3rem;
}

    

    